$--colors: (
  "primary": (
    "base": #589ef8,
  ),
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with ($colors: $--colors,
  // 菜单 
  $menu: ('text-color': #989e9e,
    'active-color': #fff,
    'bg-color': #1890ff,
    'hover-bg-color':#1890ff),

  $button: ('text-color':'yellow'
  ))